<button nz-button nzType="primary" (click)="showModal()">Yeni Kullanıcı Tanımla</button>
<nz-divider nzType="horizontal"></nz-divider>
<nz-table nzSize="small" #editRowTable nzBordered [nzData]="listOfData" [nzPageSize]="10" nzTableLayout="fixed">
    <thead>
        <tr>
            <th nzWidth="50px">ID</th>
            <th nzWidth="20%">Personel Adı
                <nz-filter-trigger [(nzVisible)]="searchVisible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                    <nz-icon nzType="search" />
                </nz-filter-trigger>
            </th>
            <th nzWidth="20%">Personel Soyadı
                <nz-filter-trigger [(nzVisible)]="searchVisible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                    <nz-icon nzType="search" />
                </nz-filter-trigger>
            </th>
            <th nzWidth="15%">Kullanıcı Adı
                <nz-filter-trigger [(nzVisible)]="searchVisible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                    <nz-icon nzType="search" />
                </nz-filter-trigger>
            </th>
            <th nzWidth="15%">Rol
                <nz-filter-trigger [(nzVisible)]="searchVisible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                    <nz-icon nzType="search" />
                </nz-filter-trigger>
            </th>
            <th nzWidth="10%">Durum
                <nz-filter-trigger [(nzVisible)]="searchVisible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                    <nz-icon nzType="search" />
                </nz-filter-trigger>
            </th>
            <th nzWidth="100px">İşlem</th>
        </tr>
    </thead>
    <tbody>
        @for (data of editRowTable.data; track data) {
        <tr>
            @if (!editCache[data.id].edit) {
            <td>{{ data.id }}</td>
            <td>{{ data.employee.name }}</td>
            <td>{{ data.employee.surName }}</td>
            <td>{{ data.userName }}</td>
            <td>{{ data.role.description}}</td>


            <td><label [nzDisabled]="true" nz-checkbox [(ngModel)]="data.isActive"></label> </td>
            <td>
                <button nzSize="small" (click)="startEdit(data.id)" nz-button nzType="default">
                    <nz-icon nzType="edit" />
                    Güncelle
                </button>
                &nbsp;
                <a nzSize="small" nz-popconfirm nzPopconfirmTitle="Emin Misiniz?" (nzOnConfirm)="delete(data.id)"
                    nz-button nzType="primary" nzDanger>Sil</a>
            </td>
            } @else {
            <td>{{ data.id }}</td>
            <td>{{ data.employee.name }}</td>
            <td>{{ data.employee.surName }}</td>
            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.userName" /></td>
            <td> <nz-select name="position" nzShowSearch nzAllowClear nzPlaceHolder="Rol seçiniz"
                    [(ngModel)]="selectedRole">
                    @for (option of optionListRoles; track option) {
                    <nz-option [nzValue]="option.id" [nzLabel]="option.description"></nz-option>
                    }
                </nz-select>
            </td>
            <td><label nz-checkbox [(ngModel)]="editCache[data.id].data.isActive"></label> </td>
            <td>
                <a nzSize="small" nz-popconfirm nzPopconfirmTitle="Emin Misiniz?" (nzOnConfirm)="update(data.id)"
                    nz-button nzType="primary">Kaydet</a>
                &nbsp;
                <a nzSize="small" (click)="cancelEdit(data.id)" nz-button nzType="default" nzDanger>İptal</a>
            </td>
            }
        </tr>
        }
    </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Yeni" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <form nz-form>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="userName">Kullanıcı Adı</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input [(ngModel)]="userName" name="userName" type="text" id="userName" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="password">Parola</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input [(ngModel)]="password" name="password" type="password" id="password" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="passwordCheck">Parla Tekrar</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input [(ngModel)]="passwordCheck" name="passwordCheck" type="password" id="passwordCheck" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="gsm">Rol</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select name="position" nzShowSearch nzAllowClear nzPlaceHolder="Rol seçiniz"
                        [(ngModel)]="selectedRole">
                        @for (option of optionListRoles; track option) {
                        <nz-option [nzValue]="option.id" [nzLabel]="option.description"></nz-option>
                        }
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="gsm">Personel Seçiniz</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select name="title" nzShowSearch nzAllowClear nzPlaceHolder="Personel Seçiniz"
                        [(ngModel)]="selectedEmployee">
                        @for (option of optionListEmployees; track option) {
                        <nz-option [nzValue]="option.id" [nzLabel]="option.name+' '+option.surName"></nz-option>
                        }
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="Arama" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Ara</button>
            <button nz-button nzSize="small" (click)="reset()">Sıfırla</button>
        </div>
    </div>
</nz-dropdown-menu>