<nz-modal [(nzVisible)]="isVisible" nzTitle="Parola Güncelle" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <form nz-form>
            <nz-form-item>
                <nz-form-label [nzSpan]="10" nzFor="currentPassword">Güncel Parolanız</nz-form-label>
                <nz-form-control [nzSpan]="10">
                    <input nz-input [(ngModel)]="currentPassword" name="currentPassword" type="password"
                        id="currentPassword" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="10" nzFor="password">Yeni Parolanız</nz-form-label>
                <nz-form-control [nzSpan]="10">
                    <input nz-input [(ngModel)]="password" name="password" type="password" id="password" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="10" nzFor="passwordConfirm">Yeni Parolanız (Tekrar)</nz-form-label>
                <nz-form-control [nzSpan]="10">
                    <input nz-input [(ngModel)]="passwordConfirm" name="passwordConfirm" type="password"
                        id="passwordConfirm" />
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>