<button nz-button nzType="primary" (click)="showModal()">Yeni Lisans/Danışmanlık Tanımla</button>
<nz-divider nzType="horizontal"></nz-divider>
<nz-table nzSize="small" #editRowTable nzBordered [nzData]="listOfData" [nzPageSize]="10" nzTableLayout="fixed">
    <thead>
        <tr>
            <th nzWidth="50px">ID</th>
            <th nzWidth="15%">Ürün
                <nz-filter-trigger [(nzVisible)]="searchVisible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu ">
                    <nz-icon nzType="search" />
                </nz-filter-trigger>
            </th>
            <th nzWidth="15%">Teslim Tarihi
                <nz-filter-trigger [(nzVisible)]="searchVisible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                    <nz-icon nzType="search" />
                </nz-filter-trigger>
            </th>
            <th nzWidth="10%">İade Tarihi
                <nz-filter-trigger [(nzVisible)]="searchVisible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                    <nz-icon nzType="search" />
                </nz-filter-trigger>
            </th>
            <th nzWidth="20%">Açıklama
                <nz-filter-trigger [(nzVisible)]="searchVisible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                    <nz-icon nzType="search" />
                </nz-filter-trigger>
            </th>
            <th nzWidth="10%">Teslim Eden
                <nz-filter-trigger [(nzVisible)]="searchVisible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                    <nz-icon nzType="search" />
                </nz-filter-trigger>
            </th>
            <th nzWidth="10%">Teslim Alan
                <nz-filter-trigger [(nzVisible)]="searchVisible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                    <nz-icon nzType="search" />
                </nz-filter-trigger>
            </th>
            <th nzWidth="175px">İşlem</th>
        </tr>
    </thead>
    <tbody>
        @for (data of editRowTable.data; track data) {
        <tr>
            @if (!editCache[data.id].edit) {
            <td>{{ data.id }}</td>
            <td>{{ data.item.brand.description + " "+ data.item.model +" ("+data.item.typeOfItem.description+")" }}</td>
            <td>{{ data.deliveryDate| date :'dd-MM-yyyy' }}</td>
            <td>{{ data.returnDate| date :'dd-MM-yyyy' }}</td>
            <td>{{ data.description }}</td>
            <td>{{ data.deliveredByEmployee.name+" " +data.deliveredByEmployee.surName}}</td>
            <td>{{ data.deliveredToEmployee.name+" " +data.deliveredToEmployee.surName}}</td>
            <td>
                <button nzSize="small" (click)="startEdit(data.id)" nz-button nzType="default">
                    <nz-icon nzType="edit" />
                    Güncelle
                </button>
                &nbsp;
                <a nzSize="small" nz-popconfirm nzPopconfirmTitle="Emin Misiniz?" (nzOnConfirm)="delete(data.id)"
                    nz-button nzType="primary" nzDanger>Sil</a>
            </td>
            } @else {
            <td>{{ data.id }}</td>
            <td>{{ data.item.brand + " "+data.item.model }}</td>
            <td> <nz-date-picker [nzFormat]="'dd-MM-yyyy'" name="deliveryDate"
                    [(ngModel)]="editCache[data.id].data.deliveryDate"></nz-date-picker> </td>
            <td> <nz-date-picker [nzFormat]="'dd-MM-yyyy'" name="returnDate"
                    [(ngModel)]="editCache[data.id].data.returnDate"></nz-date-picker> </td>
            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.description" /></td>
            <td> <nz-select name="responsible" nzShowSearch nzAllowClear nzPlaceHolder="Sorumlu"
                    [(ngModel)]="selectedDeliveredByEmployeeId">
                    @for (option of optionListDeliveredByEmployees; track option) {
                    <nz-option [nzValue]="option.id" [nzLabel]="option.name+' '+option.surName"></nz-option>
                    }
                </nz-select>
            </td>
            <td> <nz-select name="responsible" nzShowSearch nzAllowClear nzPlaceHolder="Sorumlu"
                    [(ngModel)]="selectedDeliveredToEmployeeId">
                    @for (option of optionListDeliveredToEmployees; track option) {
                    <nz-option [nzValue]="option.id" [nzLabel]="option.name+' '+option.surName"></nz-option>
                    }
                </nz-select>
            </td>


            <td>
                <a nzSize="small" nz-popconfirm nzPopconfirmTitle="Emin Misiniz?" (nzOnConfirm)="update(data.id)"
                    nz-button nzType="primary">Kaydet</a>
                &nbsp;
                <a nzSize="small" (click)="cancelEdit(data.id)" nz-button nzType="default" nzDanger>İptal</a>
            </td>
            }
        </tr>
        }
    </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Yeni" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <form nz-form>

            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="gsm">Ürün Seçiniz</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select name="brand" nzShowSearch nzAllowClear nzPlaceHolder="Ürün Seçiniz"
                        [(ngModel)]="selectedItemId">
                        @for (option of optionListItems; track option) {
                        <nz-option [nzValue]="option.id"
                            [nzLabel]="option.brand.description+' (Model: '+option.model+')' + ' (ESicil No: '+option.eRegistryNumber+')'"></nz-option>
                        }
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="deliveryDate">Teslim Tarihi</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-date-picker [nzFormat]="'dd-MM-yyyy'" name="deliveryDate"
                        [(ngModel)]="deliveryDate"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="returnDate">İade Tarihi</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-date-picker [nzFormat]="'dd-MM-yyyy'" name="returnDate"
                        [(ngModel)]="returnDate"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="gsm">Teslim Eden</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select name="brand" nzShowSearch nzAllowClear nzPlaceHolder="Personel Seçiniz"
                        [(ngModel)]="selectedDeliveredByEmployeeId">
                        @for (option of optionListDeliveredByEmployees; track option) {
                        <nz-option [nzValue]="option.id" [nzLabel]="option.name+' '+option.surName"></nz-option>
                        }
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="gsm">Teslim Alan</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select name="brand" nzShowSearch nzAllowClear nzPlaceHolder="Personel Seçiniz"
                        [(ngModel)]="selectedDeliveredToEmployeeId">
                        @for (option of optionListDeliveredToEmployees; track option) {
                        <nz-option [nzValue]="option.id" [nzLabel]="option.name+' '+option.surName"></nz-option>
                        }
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="description">Açıklama</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <textarea name="description" nz-input placeholder="Açıklama" [(ngModel)]="description"
                        [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
                </nz-form-control>
            </nz-form-item>

        </form>
    </ng-container>
</nz-modal>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="Arama" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Ara</button>
            <button nz-button nzSize="small" (click)="reset()">Sıfırla</button>
        </div>
    </div>
</nz-dropdown-menu>